/*****************************
EXPERIMENTAL
********************************/

* {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    text-rendering: optimizeLegibility;
}

html,
body {
  height: 100%;
  width: 100%;
}

#gallery li {
  /* webkit transition has to have webkit transform as a property and not just regular transform */
  transition: transform 0.1s linear;
  -webkit-transition: -webkit-transform 0.1s linear;
}

/* Centers the image a bit */
#gallery li:nth-child(4n+1):hover {
  transform: scale(1.8) translateY(16%) translateX(16%);
  -ms-transform: scale(1.8) translateY(16%) translateX(16%);
  -webkit-transform: scale(1.8) translateY(16%) translateX(16%);
}
#gallery li:nth-child(4n+2):hover {
  transform: scale(1.8) translateY(16%) translateX(8%);
  -ms-transform: scale(1.8) translateY(16%) translateX(8%);
  -webkit-transform: scale(1.8) translateY(16%) translateX(8%);
}
#gallery li:nth-child(4n+3):hover {
  transform: scale(1.8) translateY(16%) translateX(-8%);
  -ms-transform: scale(1.8) translateY(16%) translateX(-8%);
  -webkit-transform: scale(1.8) translateY(16%) translateX(-8%);
}
#gallery li:nth-child(4n+4):hover {
  transform: scale(1.8) translateY(16%) translateX(-16%);
  -ms-transform: scale(1.8) translateY(16%) translateX(-16%);
  -webkit-transform: scale(1.8) translateY(16%) translateX(-16%);
}




h2 {
  text-shadow: 2px 2px 2px #245182;
}

h1 {
  text-shadow: 1px 1px 4px #6188BD;
}


/********************************
HIDING NAV BAR GAPPS STYLE
********************************/

#nav-bar ul {
  list-style: none;
  margin: 0;
}

.toggle-nav {
  color: black;
}

#nav-bar {
  width: 300px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -300px;
  background-color: #6188BD;
  padding: 0;

  z-index: 2;

  transition: transform 0.1s ease-in-out;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
}

#nav-bar.show-nav {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}

header {
  position: relative;
  
  z-index: 10;
}

#wrapper {
  /* realigns content because of header{position:fixed;} */
  /*padding: 8.75em;  no longer need since header:fixed was bad */
}

/* fader performs the fading in and out, in its raw form its just an black invisible panel with
has 100% width and height */
#fader {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #000;
  position: absolute;
  z-index: 1;  
  /*opacity: 0.5;*/
  
  /* the opacity parameter makes it so the transition effect only applies to opacity changes */
  /* testing js fading */
  /*-webkit-transition: 0.5s ease-in-out opacity;*/
  /*transition: 0.5s ease-in-out opacity;*/
  
}

/* using jquery to add inline styles */
/*#fader.fadeout {
  opacity: 0.5;
  display: block;
}*/




/********************************
FOOTER PLACEMENT  -  forces footer down, only works if #wrapper div closes before footer element, so footer stays outside of #wrapper
********************************/
/*

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

#wrapper {
    width: 100%;
    min-height: 100%;
    /* size of footer *//*
    margin-bottom: -53px;
}

footer {
    width: 100%;
    position: relative;
    z-index: 1;
    clear: none;
    padding: 0;
}

/* not required, only used for aesthetic purposes *//*
footer p {
  margin: 0.5em 0;
}

#wrapper:after {
    content: ' ';
    display: block;
    /* size of footer *//*
    height: 53px;
}
*/


/********************************
EXPERIMENTAL
*****************************/

.unselectable {
  /* prevent highlighting the image */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none; 
}


#overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;

  z-index: 11;

  /* prevent highlighting the image */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;  
}

#overlay img {
  max-width: 80%;
  max-height: 70%;
  margin-top: 5%;

  border: none;
  padding: 3px;
  background-color: #6188BD;
  background-color: lightgrey;
  background-image: none;
}

#overlay p {
  color: white;

  /* prevent highlighting the image */
  -webkit-user-select: text;  /* Chrome all / Safari all */
  -moz-user-select: text;     /* Firefox all */
  -ms-user-select: text;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: text;
  user-select: text;  
}


#menu-overlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  position: absolute;
  z-index: 1;
  display: none;
}

